.margin-default {
  margin: 1vh 5vw;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

.alert-text {
  text-transform: none;
}

.form-padding {
  padding-right: 2vw;
}

.field-display-input {
  max-width: 90%;
}

.edit-link, .italic-link {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
  }
}

.absolutely-no-margin {
  margin: 0 !important;
}
