[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
flake8-blind-except = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-eradicate = "*"
flake8-broken-line = "*"
flake8-tidy-imports = "*"
flake8-django = "*"
flake8-mock = "*"
flake8-pytest = "*"
flake8-bandit = "*"
pytest-instafail = "*"
pytest-picked = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
pytest = "*"
pytest-django = "*"
flake8 = "*"
isort = "*"
flake8-colors = "*"
detect-secrets = "*"
mypy = "*"
coreapi = "*"

[packages]
django = ">=2.1.5,<2.3.0"
djangorestframework = "<3.10.0,>=3.9.0"
django-environ = "<0.5.0,>=0.4.5"
psycopg2 = "<2.8.0,>=2.7.6.1"
django-rest-auth = {extras = ["with_social"],version = "*"}
django-allauth = "*"
django-anymail = {extras = ["mailgun"],version = "*"}
django-cors-headers = "*"
uuid = "*"
django-rest-knox = "*"
django-filter = "*"
pyupgrade = "*"
coreapi = "*"
pygments = "*"
markdown = "*"
django-extensions = "*"
uwsgi = "*"
pyyaml = ">=4.2b1"
coreapi-cli = "*"

[requires]
python_version = "3.7"
