[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"

[packages]
django = "<2.2.0,>=2.1.5"
djangorestframework = "<3.10.0,>=3.9.0"
gunicorn = "<19.10.0,>=19.9.0"
django-environ = "<0.5.0,>=0.4.5"
psycopg2 = "<2.8.0,>=2.7.6.1"
pytest = "*"
pytest-django = "*"
flake8 = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}
django-allauth = "*"
django-anymail = {extras = ["mailgun"],version = "*"}
django-cors-headers = "*"
uuid = "*"
django-rest-knox = "*"
django-filter = "*"

[requires]
python_version = "3.7"
