.foreground {
  z-index: 100;
}

.mostly-opaque {
  opacity: 0.9;
}

.margin-default {
  margin: 1vh 5vw;
}

.card--link {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  text-align: center;
}

.description-card {
  height: 100%;
}
