$desktop: 1024px;

a {
  text-decoration: none;
}

.nav-item-resp {
  @media only screen and (min-width: $desktop) {
      color: #f0f0f0 !important;
      vertical-align: middle;
      height: 70%;
  }
}

